Node-Red.flow
[{"id":"d1aab741.b4db58","type":"tab","label":"Update Temperature","disabled":false,"info":""},{"id":"382f37a3.805608","type":"firebase in","z":"d1aab741.b4db58","name":"","ref":"config/sensors/temperature","dataAtStart":true,"admin":"b6e8520f.75b1","x":150,"y":140,"wires":[["2e67437c.0d976c"]]},{"id":"2e67437c.0d976c","type":"function","z":"d1aab741.b4db58","name":"Saving sensors info","func":"\nflow.set('sensors', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["4b406824.c73ae8"]]},{"id":"af9e0bc8.fcff48","type":"comment","z":"d1aab741.b4db58","name":"Setup","info":"","x":90,"y":80,"wires":[]},{"id":"7732b24c.4edb6c","type":"complete","z":"d1aab741.b4db58","name":"","scope":["2e67437c.0d976c"],"uncaught":false,"x":110,"y":260,"wires":[["e535fce3.bda91"]]},{"id":"6eca7a0d.6ac1b4","type":"rpi-ds18b20","z":"d1aab741.b4db58","topic":"","array":true,"name":"","x":210,"y":480,"wires":[["591ebeb7.9695e"]]},{"id":"591ebeb7.9695e","type":"split","z":"d1aab741.b4db58","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":480,"wires":[["da3d70d8.5268"]]},{"id":"88c79d6c.ca1c4","type":"switch","z":"d1aab741.b4db58","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"internal","vt":"str"},{"t":"eq","v":"external","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":480,"wires":[["bbe2266e.c429b8"],["f0a63931.2b6e18"]]},{"id":"f0a63931.2b6e18","type":"firebase out","z":"d1aab741.b4db58","name":"","ref":"data/sensors/temperature/external","operation":"set","admin":"b6e8520f.75b1","x":1240,"y":500,"wires":[["48766194.4790f"]]},{"id":"bbe2266e.c429b8","type":"firebase out","z":"d1aab741.b4db58","name":"","ref":"data/sensors/temperature/internal","operation":"set","admin":"b6e8520f.75b1","x":1240,"y":460,"wires":[["48766194.4790f"]]},{"id":"83bd2dd6.6cd14","type":"trigger","z":"d1aab741.b4db58","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":650,"y":260,"wires":[["8a1f0260.d92c2"]]},{"id":"b24d90fa.86cad","type":"function","z":"d1aab741.b4db58","name":"Updated","func":"return { payload:(new Date()).getTime()};","outputs":1,"noerr":0,"x":200,"y":360,"wires":[["561c341.0a688cc"]]},{"id":"561c341.0a688cc","type":"firebase out","z":"d1aab741.b4db58","name":"","ref":"data/health/updated","operation":"set","admin":"b6e8520f.75b1","x":400,"y":360,"wires":[["fb643136.410e8"]]},{"id":"74c67bc6.bc2534","type":"link in","z":"d1aab741.b4db58","name":"Heartbeat","links":["8a1f0260.d92c2"],"x":55,"y":360,"wires":[["b24d90fa.86cad"]]},{"id":"8a1f0260.d92c2","type":"link out","z":"d1aab741.b4db58","name":"","links":["74c67bc6.bc2534","f392fb26.284878","e18aa043.08826"],"x":775,"y":260,"wires":[]},{"id":"f392fb26.284878","type":"link in","z":"d1aab741.b4db58","name":"Read Temperature","links":["8a1f0260.d92c2"],"x":55,"y":480,"wires":[["6eca7a0d.6ac1b4"]]},{"id":"fb643136.410e8","type":"debug","z":"d1aab741.b4db58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":360,"wires":[]},{"id":"48766194.4790f","type":"debug","z":"d1aab741.b4db58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1480,"y":480,"wires":[]},{"id":"4b406824.c73ae8","type":"debug","z":"d1aab741.b4db58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":140,"wires":[]},{"id":"e535fce3.bda91","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sensors","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":260,"wires":[["f9bbba93.da8728"]]},{"id":"f9bbba93.da8728","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading","pt":"flow","to":"{\"external\":{\"reading\":0,\"updated\":0,\"sumary\":{\"max\":{\"reading\":0,\"when\":0},\"min\":{\"reading\":0,\"when\":0}}},\"internal\":{\"reading\":0,\"updated\":0,\"sumary\":{\"max\":{\"reading\":0,\"when\":0},\"min\":{\"reading\":0,\"when\":0}}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["83bd2dd6.6cd14"]]},{"id":"178f0961.aecef7","type":"function","z":"d1aab741.b4db58","name":"","func":"let t = {\n        \"reading\": 0,\n        \"updated\": 0,\n        \"sumary\":{\n            \"max\": {\n                \"reading\": 0,\n                \"when\": 0\n                },\n            \"min\": {\n                \"reading\": 0,\n                \"when\": 0\n                }\n        }\n    };\n    \nflow.get('sensors').forEach(sensor => {\n    if(sensor.serial == msg.payload.id){\n        msg.topic = sensor.name;\n        t = flow.get('reading')[sensor.name];\n    }\n});\nt.reading = msg.payload.temp;\nt.updated = (new Date()).getTime();\n\nmsg.payload = t;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["88c79d6c.ca1c4"]]},{"id":"c8c37d7e.428a4","type":"smooth","z":"d1aab741.b4db58","name":"","property":"payload","action":"min","count":"3600","round":"2","mult":"single","reduce":false,"x":1100,"y":720,"wires":[["2ce51334.514e6c"]]},{"id":"10a4a65c.ce5eda","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.internal.sumary.min.reading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":700,"wires":[[]]},{"id":"e45b102c.9043","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.internal.sumary.min.when","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":740,"wires":[[]]},{"id":"46c53945.83b728","type":"smooth","z":"d1aab741.b4db58","name":"","property":"payload","action":"max","count":"3600","round":"2","mult":"single","reduce":false,"x":1100,"y":800,"wires":[["ee668769.a07f98"]]},{"id":"ce236fd6.c6c73","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.internal.sumary.max.reading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":780,"wires":[[]]},{"id":"7e300a89.59c154","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.internal.sumary.max.when","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":820,"wires":[[]]},{"id":"75bbd9fc.4bc468","type":"switch","z":"d1aab741.b4db58","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"internal","vt":"str"},{"t":"eq","v":"external","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":840,"wires":[["638f731e.7295cc"],["f1aff1.671ee01"]]},{"id":"2ab2bc5a.03a3e4","type":"smooth","z":"d1aab741.b4db58","name":"","property":"payload","action":"min","count":"3600","round":"2","mult":"single","reduce":false,"x":1100,"y":900,"wires":[["6910111b.37082"]]},{"id":"971051d6.d158e","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.external.sumary.min.reading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":880,"wires":[[]]},{"id":"3b7aa85e.b41b78","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.external.sumary.min.when","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":920,"wires":[[]]},{"id":"8d40ee69.c1047","type":"smooth","z":"d1aab741.b4db58","name":"","property":"payload","action":"max","count":"3600","round":"2","mult":"single","reduce":false,"x":1100,"y":980,"wires":[["ba10dc7b.12027"]]},{"id":"f51a8f0.4c6f57","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.external.sumary.max.reading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":960,"wires":[[]]},{"id":"f710086f.607ee8","type":"change","z":"d1aab741.b4db58","name":"","rules":[{"t":"set","p":"reading.external.sumary.max.when","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":1000,"wires":[[]]},{"id":"65f298ee.77d3d8","type":"link in","z":"d1aab741.b4db58","name":"","links":["638f731e.7295cc"],"x":995,"y":760,"wires":[["c8c37d7e.428a4","46c53945.83b728"]]},{"id":"638f731e.7295cc","type":"link out","z":"d1aab741.b4db58","name":"","links":["65f298ee.77d3d8"],"x":935,"y":820,"wires":[]},{"id":"f1aff1.671ee01","type":"link out","z":"d1aab741.b4db58","name":"","links":["58c86587.8d962c"],"x":935,"y":860,"wires":[]},{"id":"58c86587.8d962c","type":"link in","z":"d1aab741.b4db58","name":"","links":["f1aff1.671ee01"],"x":995,"y":940,"wires":[["2ab2bc5a.03a3e4","8d40ee69.c1047"]]},{"id":"2ce51334.514e6c","type":"rbe","z":"d1aab741.b4db58","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1230,"y":720,"wires":[["10a4a65c.ce5eda","e45b102c.9043"]]},{"id":"ee668769.a07f98","type":"rbe","z":"d1aab741.b4db58","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1230,"y":800,"wires":[["ce236fd6.c6c73","7e300a89.59c154"]]},{"id":"6910111b.37082","type":"rbe","z":"d1aab741.b4db58","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1230,"y":900,"wires":[["971051d6.d158e","3b7aa85e.b41b78"]]},{"id":"ba10dc7b.12027","type":"rbe","z":"d1aab741.b4db58","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1230,"y":980,"wires":[["f51a8f0.4c6f57","f710086f.607ee8"]]},{"id":"7c732055.22071","type":"inject","z":"d1aab741.b4db58","name":"new day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[["8d3125e5.32ab48","6eca7a0d.6ac1b4"]]},{"id":"8d3125e5.32ab48","type":"rpi-ds18b20","z":"d1aab741.b4db58","topic":"","array":true,"name":"","x":270,"y":700,"wires":[["bc9b18f7.cf7f48"]]},{"id":"bc9b18f7.cf7f48","type":"split","z":"d1aab741.b4db58","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":700,"wires":[["7543a63.13e4458"]]},{"id":"ef949fbc.8de","type":"function","z":"d1aab741.b4db58","name":"","func":"flow.get('sensors').forEach(sensor => {\n    if(sensor.serial == msg.payload.id){\n        msg.topic = sensor.name;\n    }\n});\n\nmsg.payload = msg.payload.temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["1493d48c.a70beb"]]},{"id":"2ad9b347.70145c","type":"link in","z":"d1aab741.b4db58","name":"","links":["da3d70d8.5268"],"x":735,"y":480,"wires":[["178f0961.aecef7"]]},{"id":"da3d70d8.5268","type":"link out","z":"d1aab741.b4db58","name":"","links":["2ad9b347.70145c","a375e216.b957f","b66596bc.c51568"],"x":455,"y":480,"wires":[]},{"id":"2ddeda4.9a46e26","type":"link in","z":"d1aab741.b4db58","name":"","links":["1493d48c.a70beb"],"x":735,"y":840,"wires":[["75bbd9fc.4bc468"]]},{"id":"1493d48c.a70beb","type":"link out","z":"d1aab741.b4db58","name":"","links":["2ddeda4.9a46e26"],"x":735,"y":700,"wires":[]},{"id":"84546cd9.7514b","type":"comment","z":"d1aab741.b4db58","name":"Agregation","info":"","x":780,"y":780,"wires":[]},{"id":"5ad1cd8b.f26484","type":"comment","z":"d1aab741.b4db58","name":"New Day","info":"","x":100,"y":660,"wires":[]},{"id":"edcbd46.0a97a28","type":"comment","z":"d1aab741.b4db58","name":"Update Firebase","info":"","x":800,"y":440,"wires":[]},{"id":"c514e94f.fd0ba8","type":"comment","z":"d1aab741.b4db58","name":"Reading Temperature","info":"","x":140,"y":440,"wires":[]},{"id":"a375e216.b957f","type":"link in","z":"d1aab741.b4db58","name":"","links":["da3d70d8.5268"],"x":55,"y":1080,"wires":[["f045b6f3.248c38"]]},{"id":"f045b6f3.248c38","type":"function","z":"d1aab741.b4db58","name":"set payload","func":"\nflow.get('sensors').forEach(sensor => {\n    if(sensor.serial == msg.payload.id){\n        msg.payload.sensor = sensor.name;\n    }\n});\nmsg.payload.reading = msg.payload.temp;\nmsg.payload.timestamp = (new Date()).getTime();\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1080,"wires":[["cee24c34.7c557"]]},{"id":"eef487bd.e1ae88","type":"file","z":"d1aab741.b4db58","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":1080,"wires":[[]]},{"id":"99876bac.e7be68","type":"csv","z":"d1aab741.b4db58","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"timestamp,sensor,reading","skip":"0","strings":true,"x":450,"y":1080,"wires":[["eef487bd.e1ae88"]]},{"id":"cee24c34.7c557","type":"function","z":"d1aab741.b4db58","name":"","func":"let current_datetime = new Date()\nlet formatted_date = current_datetime.getFullYear() + \"-\" + (current_datetime.getMonth() + 1) + \"-\" + current_datetime.getDate()\n\nmsg.filename = \"/home/pi/Public/\" + formatted_date + \".csv\";\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1080,"wires":[["99876bac.e7be68"]]},{"id":"7543a63.13e4458","type":"change","z":"d1aab741.b4db58","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":700,"wires":[["ef949fbc.8de"]]},{"id":"b66596bc.c51568","type":"link in","z":"d1aab741.b4db58","name":"","links":["da3d70d8.5268"],"x":555,"y":640,"wires":[["ef949fbc.8de"]]},{"id":"b6e8520f.75b1","type":"firebase admin","z":"","name":"homeauto"}]